body {
  background-color:#a8d8ed;
}

.jumbotron {
  background-color: #FFF;
  border: 5px solid #6ca3fc;
}

.jumbotron img {
  float:left;
  height:170px;
  width:170px;
  border: 5px solid #6ca3fc;
  border-radius: 10%
}

.jumbotron h1,h3 {
  text-shadow: 10px;
  text-align: center;
  font-family: helvetica;
  color:#6ca3fc;
}

.about img {
  height: 200px;
  width: 200px;
  float:right;
  border: 3px solid #6ca3fc;
  box-shadow: 5px 5px 2px #888888;
  pad
}

.panel-body a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
}

.panel-body a:hover{
  font-weight:bolder;
  color:#919195;
}

span {
  font-family: fantasy;
}

.panel-body h5 {
  text-decoration:underline;
  font-weight:bold;
}

.epicodus img {
  height: 100px;
  width: 300px;
  border: 3px solid #6ca3fc;
  border-radius: 5%;
  box-shadow: 5px 5px 2px #888888;
  float:right;
  padding-right: 10px;
  padding left: 15px;
  margin-right: 10px;
  margin-top: 20px;
}

.blog {
  overflow: scroll;
  height: 240px;

}
.blog img {
  height:250px;
  width:250px;
  border: 3px solid #6ca3fc;
  border-radius: 100%;

}
